<header>
  <nav>
    <a href="/">DICT-ILCDB</a>
    <ul>
      <li><a href="/trainings">Trainees</a></li>
      <li><a href="/partners">Partners</a></li>
      <li><a href="/assessments">Assessment</a></li>
      <li><a href="/proficiencys">Proficiency</a></li>
      <li><a href="/users">User</a></li>
    </ul>
  </nav>
</header>