<header>
  <div class="logo"><a href="/">DICT-ILCDB</a></div>
  <div class="toggle"></div>
  <div class="navigation">
    <ul>
      <li><a href="/trainings">Trainees</a></li>
      <li><a href="/partners">Partners</a></li>
      <li><a href="/assessments">Assessment</a></li>
      <li><a href="/proficiencys">Proficiency</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="login.html">Logout</a></li>
    </ul>
    <div class="social-bar">
      <ul>
        <li>
          <a href="https://www.facebook.com/DICTgovph">
            <img src="/img/facebook.png" target="_blank" alt="" />
          </a>
        </li>
        <li>
          <a href="https://twitter.com">
            <img src="/img/twitter.png" target="_blank" alt="" />
          </a>
        </li>
        <li>
          <a href="https://instagram.com">
            <img src="/img/instagram.png" target="_blank" alt="" />
          </a>
        </li>
      </ul>
      <a href="mailto:you@email.com" class="email-icon">
        <img src="/img/email.png" alt="" />
      </a>
    </div>
  </div>
</header>