<header>
  <nav>
    <a href="/">DICT-ILCDB</a>
    <ul>
      <li><a href="/trainings">Trainees</a></li>
      <li><a href="/partners">Partners</a></li>
      <li><a href="/">Assessment</a></li>
      <li><a href="/">Proficiency</a></li>
    </ul>
  </nav>
</header>