<h2>Edit Assessment Profile</h2>
<form action="/assessments/<%= assessment.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
        <a href="/assessments/<%= assessment.id %>">Cancel</a>
        <button type="submit">Update</button>
</form>