<h2>Edit Proficiency Exam Profile</h2>
<form action="/proficiencys/<%= proficiency.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
        <a href="/proficiencys/<%= proficiency.id %>">Cancel</a>
        <button type="submit">Update</button>
</form>