<%- include('partials/header.ejs') %>
    <section class="home">
        <img src="/img/home-img.jpg" class="home-img" alt="" />
        <img src="/img/background.png" class="home-bg" alt="" />
        <div class="home-content">

            <br>
            <h1>
                This is a prototype <br />
                website for DICT.
            </h1>
            <p>
                "The Department of Information and Communications Technology is mandated by Republic Act (RA) 10844 or
                the DICT Act of 2015 to be the primary policy, planning, coordinating, implementing, and administrative
                entity of the Executive Branch of the government that will plan, develop, and promote the national ICT
                development agenda.
            </p>

            <form action="/" class="form-group" id="add_user">
                <div class="new_user">
                    <div class="form-group1">
                        <button type="submit" class="btn text-dark update">Log Out</button>
                    </div>
                </div>
            </form>
        </div>
    </section>