<section class="home">
    <img src="/img/home-img.jpg" class="home-img" alt="" />
    <img src="/img/background.png" class="home-bg" alt="" />
    <div class="home-content">
        <h1>
            This is a prototype <br />
            website for DICT.
        </h1>
        <p>
            "The Department of Information and Communications Technology is mandated by Republic Act (RA) 10844 or
            the DICT Act of 2015 to be the primary policy, planning, coordinating, implementing, and administrative
            entity of the Executive Branch of the government that will plan, develop, and promote the national ICT
            development agenda.
        </p>
        <a href="/login" class="btnHL">User Login</a>
    </div>
</section>