<img class="wave" src="/img/wave.png">
<div class="containerLogin">
    <div class="imgLogin">
        <img src="img/logo1.png">
    </div>
    <div class="login-content">
        <form action="/login" method="POST" class="formLogin">
            <img src="img/logo3.png">
            <h2>Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="divLogin">
                    <input type="email" id="email" name="email" class="inputLogin" placeholder="email@email.com"
                        required>
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="divLogin">
                    <input type="password" class="inputLogin" name="password" placeholder="Password" required>
                </div>
            </div>
            <button type="submit" class="btnLogin"><i class="fas fa-sign-in-alt"></i></button>
            <a href="/register">Register</a>
            <div class="warning">
                <% if (messages.error) { %>
                    <%= messages.error %>
                        <% } %>
            </div>
        </form>
    </div>
</div>