<h2>Edit Trainee</h2>
<form action="/trainings/<%= training.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
        <a href="/trainings/<%= training.id %>">Cancel</a>
        <button type="submit">Update</button>
</form>