<img class="wave" src="/img/wave.png">
<div class="containerLogin">
    <div class="imgLogin">
        <img src="img/logo1.png">
    </div>
    <div class="login-content">
        <form action="index.html" class="formLogin">
            <img src="img/logo3.png">
            <h2>Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="divLogin">
                    <input type="text" class="inputLogin" placeholder="Username">
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="divLogin">
                    <input type="password" class="inputLogin" placeholder="Password">
                </div>
            </div>
            <a href="trainings.html" class="btnLogin">Login</a>
        </form>
    </div>
</div>